<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">School</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/teachers">Teacher</a></li>
        <li><a href="/students">Student</a></li>
        <li><a href="/subjects">Subject</a></li>
      </ul>
    </div>
  </nav>