<%- include ../partials/headers.ejs %>
<%- include ../partials/navbar.ejs %>

<title>Edit Subject</title>
</head>
<body>
    <form action="" method="POST">
        <label for="">Subject Name</label>
        <input type="text" name="subject_name" value="<%= data.subject_name %>">
        <button>Submit</button>
    </form>
</body>
</html>