<%- include ../partials/headers.ejs %>
<%- include ../partials/navbar.ejs %>

<title>Add New Subejct</title>
</head>
<body>
    <form action="" method="POST">
        <label for="">Subject Name</label>
        <input type="text" name="subject_name">
        <button>Submit</button>
    </form>
</body>
</html>