<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add Teacher</h1>
    <form method="POST" action="/teachers/add">
      First name:<br>
      <input type="text" name="first_name">
      <br>
      Last name:<br>
      <input type="text" name="last_name">
      <br>
      E-mail:<br>
      <input type="text" name="email">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>