<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add Subject</h1>
    <form method="POST" action="/subjects/add">
      Subject name:<br>
      <input type="text" name="subject_name">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>