<!DOCTYPE html>
<html lang="en">
<head>
  <title>School</title>
  <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
  <h1>ADD SUBJECT</h1>
      <form action="/Subject/add" method="POST">
        Subject Name:<br>
        <input type="text" name="subject">
        <br><br>
        <input type="submit" value="ADD SUBJECT">
      </form>
      <form action = "/Subject" method="get">
        <input type="submit" value="BACK"/>
    </form>
</body>
</html>