<%- include ./partial/header.ejs %>

<div class="container">
  <h2 style="text-align: center">Edit Subject </h2>
  <form method="POST">
    <div class="form-group">
      <label for="subjectName">Subject Name: </label>
      <input type="text" class="form-control" name="subject_name" placeholder="Enter subject name">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<%- include ./partial/footer.ejs %>