<!DOCTYPE html>
<html>
    <head>
        <title>Edit Student</title>
        
    </head>
    <body>
        <h1 >Edit Student Data</h1>
        <h4 href="/student">show all data</a></h4>
        <form action="/student/edit/<%=data.id%>" method = "POST">
            <label for= "first_name"><b>First Name</b></label><br>
            <input type="text" name="first_name"  required><br>
            <label for= "last_name"><b>Last Name</b></label><br>
            <input type="text" name="last_name"  required><br>
            <label for= "email"><b>Email</b></label><br>
            <input type="text" name="email"  required><br>
            <button type= "submit" >Edit Student</button>
        </form>
    </body>
</html>