<%- include ./partials/header.ejs %>
<%- include ./partials/navbar.ejs %>
<h3>edit data</h3>
<form style="padding-top: 3%; padding-left: 6%;padding-right: 6%;padding-bottom: 2%;background-color: rgb(111, 219, 226); width: 50%; margin-left: 20%; text-align: center" method="POST">
    <div class="form-group">
      <label for="subject_name">First Name:</label>
      <input style=" width: 95%; text-align: center" value="<%= data['subject_name'] %>" type="text" class="form-control" name="subject_name">
      </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form> 

<%- include ./partials/footer.ejs %>