<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
</head>
<body>
    <h1>WELLCOME HOME</h1>

    <h5><a href="students/add">Add Student</a></h5>
    <h5><a href="students/">Students Home</a></h5>
</body>
</html>