<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

<style>
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;

  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.hd1{
    color:#fff;
}
</style>
</head>
<body>

<div class="container">
<div class="jumbotron">
  <h1 class="hd1">Sekolah Pariwara Jakarta Selatan!</h1>
  <p class="lead hd1">Sekolah ini memiliki predikat terbaik dari Lembaga DIKIT.</p>
  <hr class="my-4">
  <p class="hd1">Daftarkan segera Putra/Putri Anda atau Silahkan Lihat Para Guru yang Mengajar Di Sekolah Kami.</p>
  <p class="lead">
    <a class="btn btn-dark btn-lg" href="/students" role="button">Student List</a> 
    <a class="btn btn-dark btn-lg" href="/teachers" role="button">Teacher List</a> 
    <a class="btn btn-dark btn-lg" href="/subjects" role="button">Subject List</a> 
    <a class="btn btn-success btn-lg" href="/editdata" role="button">Edit Data</a>
  </p>
</div>

</div>
</body>
</html>

