<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
    <h1>Sekolah gratis milik yayasan patiagani</h1>
    <h3>gratis untuk mencerdaskan semua anak bangsa</h3>
    <h4>untuk Indonesia yang lebih baik</h4>
    <span>
      <a href="/students">Student</a>
      <a href="/teachers">Teachers</a>
      <a href="/subjects">Subjects</a>
    </span>
    </center>
  </body>
</html>