<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <h1 class="title">SCHOOL</h1>
    <div class="home">
    <form  action="/student" method="get">
        <input class="submit" type="submit" value="Student">
    </form> 
    <form action="/teacher" method="get">
        <input class="submit" type="submit" value="Teacher">
    </form>  
    <form action="/subject" method="get">
      <input class="submit" type="submit" value="Subject">
  </form> 
</div>
</body>
</html>