<!DOCTYPE html>
<html>

<head>
  <title>Students Data</title>
  <link rel="stylesheet" href="/public/input.css" type="text/css">
</head>

<body>

  <form action="/students/edit/<%= editStudent.dataValues.id %>" method="post">
    
    <div class="container">
      <h2 style="text-align: center">Edit Student Data</h2>

      <hr>
      <input type="text" name="first_name" placeholder="<%= editStudent.dataValues.first_name %>" required>
      <input type="text" name="last_name" placeholder="<%= editStudent.dataValues.last_name %>" required>
      <input type="text" name="email" placeholder="<%= editStudent.dataValues.email %>" required>
      <hr>
      <input class="add-btn" type="submit" value="Edit Student">

    </div>
  </form>

</body>

</html>