<!DOCTYPE html>
<html>

<head>
  <title>Students Data</title>
  <link rel="stylesheet" href="/public/input.css" type="text/css">
</head>

<body>

  <form action="/students/add" method="post">

    <div class="container">
      <h2 style="text-align: center">Add Students Data</h2>

      <hr>
      <input type="text" name="first_name" placeholder="Firstname">
      <input type="text" name="last_name" placeholder="Lastname">
      <input type="text" name="email" placeholder="Email">
      <hr>
      <input class="add-btn" type="submit" value="Add Student">

    </div>
  </form>

</body>

</html>