<!DOCTYPE html>
<html>

<head>
  <title>Subjects Data</title>
  <link rel="stylesheet" href="/public/input.css" type="text/css">
</head>

<body>

  <form action="/subjects/add" method="post">

    <div class="container">
      <h2 style="text-align: center">Add Subjects Data</h2>

      <hr>
      <input type="text" name="subject_name" placeholder="Subject Name" required>
      <hr>
      <input class="add-btn" type="submit" value="Add Subject">

    </div>
  </form>

</body>

</html>