<!DOCTYPE html>
<html>
<head>
    <title>Subjects</title>
    <style>
        table {
            width: 100%;
        }
        table, th, td {
            text-align: center;
            border-bottom: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
        
    </style>
</head>
<body>
    <h1 style="text-align: center; color: royalblue">Subject Data</h1>
    <h4 style="text-align: center;"><a style="color: royalblue;text-decoration: none" href="/subject/add">add subject</a></h4>
    <table >
        <tr>
            <th>Id</th>
            <th>Subject Name</th>
            <th>Options</th>
        </tr>
            <% data.forEach(subject => {%>
                <tr>
                    <td><%= subject.id %></td>
                    <td><%= subject.subject_name %></td>
                    <td><p><a href= "/subject/edit/<%=subject.id%>">Edit</a> | <a href = "/subject/delete/<%=subject.id%>" onclick= "return confirm ('Delete this subject/')">Delete</a></p></td>
                </tr>
            <%})%>
    </table>
</body>
</html>