<!DOCTYPE html>
<html>

<head>
  <title>Teachers Data</title>
  <link rel="stylesheet" href="/public/input.css" type="text/css">
</head>

<body>

  <form action="/teachers/add" method="post">

    <div class="container">
      <h2 style="text-align: center">Add Teachers Data</h2>

      <hr>
      <input type="text" name="first_name" placeholder="Firstname" required>
      <input type="text" name="last_name" placeholder="Lastname" required>
      <input type="text" name="email" placeholder="Email" required>
      <hr>
      <input class="add-btn" type="submit" value="Add Teacher">

    </div>
  </form>

</body>

</html>