<%- include ../partials/headers.ejs %>
<%- include ../partials/navbar.ejs %>

<title>Teacher Registration</title>
</head>
<body>
    <form action="" method="POST">
        <label for="">First Name</label>
        <input type="text" name="first_name">
        <label for="">Last Name</label>
        <input type="text" name="last_name">
        <label for="">Email</label>
        <input type="text" name="email">
        <button>Submit</button>
    </form>
</body>
</html>