<%- include ../partials/headers.ejs %>
<%- include ../partials/navbar.ejs %>
<META http-equiv="refresh" content="3;/students"></meta>
<title>Student Registration</title>
</head>
<body>
    <h2>Success ...</h2>
    <a href="/students">Click here if auto redirect is not working!</a>

</body>
</html>